<div class="section-container">  
    <div class="form-group">
      <label>Wprowadź adres:</label>
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
    </div>
   
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
          (dragEnd)="markerDragEnd($event)">
        </agm-marker>
      </agm-map>
      <h5>Adres: {{address}}</h5>
      <div>Szerokość geograficzna:</div>
    <div><input value={{latitude}} [(ngModel)]="latitude" (ngModelChange)="latitude = $event" type="text" class="validate" (change)="getAddressFromCoords($event)"></div>
    <div>Długość geograficzna:</div>
    <div><input value={{longitude}} [(ngModel)]="longitude" (ngModelChange)="longitude = $event" type="text" class="validate" (change)="getAddressFromCoords($event)"></div>
  </div>