<form class="form-horizontal" [formGroup]="addOrderForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label col-sm-2" for="name">Imie:</label>
          <div class="col-sm-10">
            <input type="name" class="form-control" formControlName="name" placeholder="Enter firstname">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="number">Numer telefonu:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" formControlName="phoneNumber" placeholder="Enter phone number">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" >Skąd:</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" 
              placeholder="Enter origin" autocorrect="off" autocapitalize="off" 
              spellcheck="off" type="text" #search formControlName="address"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="phone">Dokąd:</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" 
              placeholder="Enter destination" autocorrect="off" autocapitalize="off" 
              spellcheck="off" type="text" #destination formControlName="destination"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Liczba pasażerów:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" formControlName="passengers" placeholder="Enter amount of passengers">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>