<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" routerLink="orders">Zlecenia</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="map">Mapa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="drivers">Kierowcy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="customers">Klienci</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="stats">Statystyki</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" routerLink="/login" (click)="logout()" >Wyloguj</a>
        </li>
</ul>