<form class="form-horizontal" [formGroup]="addDriverForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="control-label col-sm-2" for="fname">Imie:</label>
    <div class="col-sm-10">
      <input type="name" class="form-control" formControlName="firstName" placeholder="Enter fname">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="lname">Nazwisko:</label>
    <div class="col-sm-10">
      <input type="lname" class="form-control" formControlName="lastName" placeholder="Enter lname">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" >Pesel:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" formControlName="pesel" placeholder="Enter pesel">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="phone">Numer telefonu:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" formControlName="phoneNumber" placeholder="Enter phone">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Model samochodu:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="carModel" placeholder="Enter car model">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Nr rejestracyjny:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="registrationNumber" placeholder="Enter registration number">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Liczba miejsc w samochodzie:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" formControlName="seatsAmount" placeholder="Enter seats amount">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Pensja:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" formControlName="salary" placeholder="Enter salary">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>